.box {
    height: 200px;
    width: 600px;
    transition: 2s ease;
    background-color: blue;
}

.box:hover {
    transform: translate(100px);
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: 3s;
    background-color: aliceblue;
    color: black;
}

body.dark {
    background: #253439;
    color: #f5f5f5;
}

body.dark .toogle-card {
    background-color: rgba(20, 20, 20, 0.9);
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.7);
}


.toggle-card {
    color: #000;
    background-color: white;
    border: 2px solid black;
    padding: 25px 35px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    box-shadow:0px 4px 12px rosybrown;



}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 6px;
    background-color: #934b82;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    transform:translateY(-7px);

}

.lig-but{
    background:rgb(15, 9, 9);
    border:1px solid rgb(190, 233, 249);
}
.dar-but{
    background:black;
    color:rgb(242, 234, 234);
}

.button-grp{
    display: flex;
    justify-content:center;
}